.container {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 200px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.container .title {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    font-size: 30px;
    color: palevioletred;
}

.update-form {
    width: 100%;
}

.update-form label {
    font-size: 30px;
    font-weight: 800;
}

.update-form input:focus {
    outline: none;
}

.update-form input {
    font-size: 25px;
    height: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
}

.buttons {
    display: flex;
    float: right;
    margin-top: 20px;
}

.buttons button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.error-message {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    border-bottom: 1px solid black;
}